body {
    background-color: #F9FAFC;
    font-family: 'Public Sans', sans-serif;
}

.brand {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.brand-logo {
    height: 30px;
}

.nav-list {
    margin-left: auto;
    float: right;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #f8f9fa;
}

/* .hero-text {
    padding-top: 10vh;
} */

.hero-header {
    color: #f8f9fa;
    font-size: 45px;
    font-weight: bold;
}

.hero-subheader {
    color: #f8f9fa;
    font-size: 25px;
}

.card {
    /* border: none; */
    background-color: transparent;
}


.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgb(22, 112, 112);
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.img-max-hgt {
    max-height: 350px;
    object-fit: cover;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    margin-top: -10px;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
    ;
}

.post-link:hover,
.page-link {
    color: rgb(2, 156, 156);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: rgb(22, 112, 112);
    color: #fff;
}

.btn-social {
    font-size: 30px;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: rgb(22, 112, 112);
}

.btn-takeoff {
    width: 200px;
}

.link {
    color: rgb(22, 112, 112);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* // Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 350px) {
    .hero-text {
        /* padding-top: 2vh; */
        width: 100%;
    }

    .hero-header {
        font-size: 25px;
    }

    .hero-subheader {
        font-size: 15px;
    }
}

/* // Medium devices (tablets, 992 and down) */
@media screen and (max-width: 992px) {
    .hero-text {
        /* padding-top: 5vh; */
        width: 90%;
    }

    .hero-header {
        font-size: 35px;
    }

    .hero-subheader {
        font-size: 15px;
    }

    .hide {
        display: none;
    }
}