{% extends "base.html" %}
{% block title %}404 Error{% endblock %}
{% block content %}

<header class="bg-image-full d-flex justify-content-center align-items-center"
    style="background-image: url(https://res.cloudinary.com/dcw0uahxd/image/upload/v1687253135/DSC_0273_prfblp.jpg); 
opacity: 0.9; background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 100vh;">
    <div style="height: 1.0rem"></div>
    <div class="hero-text text-center">
        <h1 class="hero-header text-white">404 Error - Page not found!</h1>
        <p class="hero-subheader text-white mb-0">Click below to head home!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <a href="{% url 'home' %}" class="btn btn-takeoff btn-light btn-lg mt-3 gap-3"><i
                    class="fa-solid fa-plane-departure"></i> Go Home</a>
        </div>
    </div>
</header>


{%endblock%}