{% extends "base.html" %}
{% block title %}Add a Country Category{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1>Add a country category</h1>
                <br>
                <!-- Country form -->
                <form method="POST" class="form text-muted">
                    {% csrf_token %}
                    {{ country_form | crispy }}
                    <div class="update-btn-group">
                        <button type="submit" class="btn btn-signup mt-2">Submit</button>
                        <a href="{% url 'add_logentry' %}" class="btn btn-secondary mt-2">Cancel</a>
                    </div>
                </form>
                <h2 class="my-4">Countries submitted for approval:</h2>
                {% for ctry in countries %}
                {% if not ctry.approved %}
                <p>{{ ctry.ctry_title }}</p>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}