{% extends "base.html" %}
{% block title %}Add Logentry{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Add logentry page -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 mb-4">
                <h1>Add a Trip to your Log</h1>
                <br>
                <ul>
                    <li>If you would like to add a new country category, click on the link below. If you feel a country
                        does not quite fit the trip location, you can request to have another
                        category added, such as an ocean or continent. We do have a category called 'North Atlantic' for
                        example.
                        <a class="nav-link" aria-current="page" href="{% url 'add_country' %}">Add a country
                            category</a>
                    </li>
                    <li>The year for the trip needs to be an integer between 1950 and 2030</li>
                </ul>
                <!-- See forms.py -->
                <form class="form text-muted" method="POST" action="{% url 'add_logentry' %}"
                    enctype="multipart/form-data">
                    <!-- In this form we need to include the encryption type because if 
                            you upload images without it then it might not upload correctly -->
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="update-btn-group">
                        <button type="submit" class="btn btn-signup mt-2">Submit</button>
                        <a href="{% url 'user_logentry' %}" class="btn btn-secondary mt-2">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}