{% extends "base.html" %}
{% block title %}Add Logentry{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Add post page -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1><strong>Add a Trip to your Log:</strong></h1>
                <br>
                <!-- See forms.py -->
                <form class="form text-muted" method="POST" action="{% url 'add_logentry' %}"
                    enctype="multipart/form-data">
                    <!-- In this form we need to include the encryption type because if 
                            you upload images without it then it might not upload correctly -->
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}