{% extends "base.html" %}
{% block title %}Countries{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center my-5">Trips to {{ country }}</h1>
        <!-- Log Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for log in country_logs %}
                {% if user.id != log.author.id and log.privacy == 1 %}
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <div class="card-deck">
                        <div class="card mb-4">
                            <div class="image-container">
                                {% if "placeholder" in log.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dcw0uahxd/image/upload/v1688654556/amy-shamblen-unsplash_wld8zm.jpg"
                                    alt="suitcase">
                                {% else %}
                                <img class="card-img-top" src=" {{ log.featured_image.url }}" alt="{{ log.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">By: {{ log.author }}</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'logentry_detail' log.slug  %}" class="post-link">
                                    <h2 class="card-title">{{ log.title }}</h2>
                                    <p class="card-text"><strong>{{ log.country }} | {{ log.year }}</strong></p>
                                    <p class="card-text">{{ log.excerpt }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% elif user.id == log.author.id %}
                <div class="col-sm-12 col-md-6 col-lg-3 ">
                    <div class="card-deck">
                        <div class="card mb-4">
                            <div class="image-container">
                                {% if "placeholder" in log.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dcw0uahxd/image/upload/v1688654556/amy-shamblen-unsplash_wld8zm.jpg"
                                    alt="suitecase">
                                {% else %}
                                <img class="card-img-top" src=" {{ log.featured_image.url }}" alt="{{ log.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ log.author }}</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'logentry_detail' log.slug  %}" class="post-link">
                                    <h2 class="card-title">{{ log.title }}</h2>
                                    <p class="card-text"><strong>{{ log.country }} | {{ log.year }}</strong></p>
                                    <p class="card-text">{{ log.excerpt }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endif %}
                {% empty %}
                <p class="text-center lead mt-2">
                    Sorry there are currently no log entries for this country!
                </p>
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}