{% extends "base.html" %}
{% block title %}Delete Log Entry{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<!-- This if statement prevents unauthorized users 
                    from deleting the log entry via the URL -->
{% if user.is_authenticated %}
{% if user.id == logentry.author.id %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2>Delete your Travel Log Entry</h2>
                <br>
                <p>Are you sure you want to delete the entry titled "{{ logentry.title }}"? This will also delete all
                    images in the gallery associated with this trip entry.</p>
                <!-- Log Entry edit form -->
                <form method="POST" class="form text-muted" action="{% url 'delete' logentry.slug %}"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="update-btn-group">
                        <button type="submit" class="btn btn-outline-danger darkred">Delete</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}

{% endblock %}