{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Worldtravel Log</h1>
            <div class="row center">
                <h5 class="header col s12 light">Document where you have been and where you are going!
                </h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get
                    Started</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{% static 'media/images/goldengate.jpg' %}" alt="Unsplashed background img 1">
    </div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <!--   Travel Log Section   -->
            {% for log in logentry_list %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        {% if "placeholder" in travellog.featured_image.url %}
                        <img src="{% static 'media/images/mountcook.jpg' %}">
                        {% else %}
                        <img src="{{ log.featured_image.url }}">
                        {% endif %}
                        <a href="{% url 'logentry_detail' log.slug %}"
                            class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ log.slug }}</span>
                        <p>{{ log.excerpt }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}


            <!-- {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
        
    </nav>
    {% endif %} -->
        </div>
    </div>
</div>

{% endblock %}