{% extends "base.html" %}
{% load static %}
{% block content %}


<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">{{ logentry.title }}</h1>
            <div class="row center">
                <h5 class="header col s12 light">{{ logentry.category }} {{ logentry.year }}
                </h5>
            </div>

            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="{{ logentry.featured_image.url }}" alt="Unsplashed background img 1">
    </div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <!-- Travel Log Section  
            {% for log in logentry_list %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        {% if "placeholder" in travellog.featured_image.url %}
                        <img src="{% static 'media/images/mountcook.jpg' %}">
                        {% else %}
                        <img src="{{ log.featured_image.url }}">
                        {% endif %}
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ log.title }}</span>
                        <p>{{ log.excerpt }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
 -->


        </div>
    </div>
</div>

{% endblock %}